body{
    background: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #ccc;
}

.container {
    display: block;
    margin: 200px auto;
    width: 120px;
    height: 100%;
    background: #000;
}

a{
    color: #ccc;
    text-decoration: none;
}

a:hover{
    color: #fff;
}